<!-- BEGIN: Layout -->
<%= render :layout => 'outershell' do %>
  <div class="row">
    <div class="small-12 columns">
      <div class="workflow-panel">
        <div class="workflow-title clearfix">
          <div class="text left">Select Detectables</div>
        </div>
        <div class="workflow-content">

<!-- BEGIN: Content -->
<%= simple_form_for @iteration, :url => wizard_path, :method => :put do |f| %>

Note: If there are not enough annotations for a particular class that you'd like to improve, <b>STOP</b>. You can browse away from this page and create new annotations. Once done, you can return to this page to check for number of annotation for the class of interest.

<!-- BEGIN: Table -->
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Pretty Name</th>
      <th>Type</th>
      <th># Ancestor Annos</th>
      <th># Current Annos</th>
      <th># Total Annos</th>
      <th>
        <a id="selectAllLink" href="#">All</a> |
        <a id="selectNoneLink" href="#">None</a>
      </th>
    </tr>
  </thead>

  <tbody>
      <% @workflowObj.detectablesAnnoCnts.each do |detectable, annoCnts| %>
        <tr>
          <td><%= detectable.id %></td>
          <td><%= detectable.name %></td>
          <td><%= detectable.pretty_name %></td>
          <td><%= detectable.type %></td>
          <td><%= annoCnts[:ancestor] %></td>
          <td><%= annoCnts[:current] %></td>
          <td><%= annoCnts[:ancestor] + annoCnts[:current] %></td>
          <% isButChecked = @workflowObj.selectedDetectableIds.include?(detectable.id) %>
          <td><%= check_box_tag 'detectable_ids[]', detectable.id, checked = isButChecked, class: "selectAllCheckBox" %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<!-- END: Table -->

<%= render 'common_buttons', :form_obj => f %>
<% end %>
<!-- END: Content -->

        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- END: Layout -->
