<!-- BEGIN: Layout -->
<%= render :layout => 'outershell' do %>
  <div class="row">
    <div class="small-12 columns">
      <div class="workflow-panel">
        <div class="workflow-title clearfix">
          <div class="text left">Select Num Iters</div>
        </div>
        <div class="workflow-content">

<!-- BEGIN: Content -->
<%= simple_form_for @iteration, :url => wizard_path, :method => :put do |f| %>

<table>
  <tr>
    <td width="80%">
      To use annotations across all chia models uniformly, select "Exhaustive". To give preference to annotations from current chia model, use "Quick".
    </td>
    <td>
      <div class="form-inputs">
        <%= f.input :ztype, collection: @workflowObj.iterationTypes, label: "Iteration Type" %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Recommended number of iterations: Exhaustive (<%= @workflowObj.exhaustiveNumIter %>), Quick (<%= @workflowObj.quickNumIter %>). It is recommended to specify num of iterations in steps of 2,000.
    </td>
    <td>
      <div class="form-inputs">
        <%= f.input :num_iterations, label: "Num Iterations" %>
      </div>
    </td>
  </tr>
</table>


<%= render 'common_buttons', :form_obj => f %>
<% end %>
<!-- END: Content -->

        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- END: Layout -->
