<!-- BEGIN: Layout -->
<%= render :layout => 'outershell' do %>
  <div class="row">
    <div class="small-12 columns">
      <div class="workflow-panel">
        <div class="workflow-title clearfix">
          <div class="text left">Create Sets</div>
        </div>
        <div class="workflow-content">

<!-- BEGIN: Content -->
<%= simple_form_for @mining, :url => wizard_path, :method => :put do |f| %>

<table>
  <thead>
    <tr>
      <th>Set #</th>
      <th># Clips</th>
      <th># Localizations</th>
      <th># Frames</th>
    </tr>
  </thead>

  <tbody>
    <% @workflowObj.clipSets.each do |idx, clipSet| %>
      <tr>
        <td><%= idx %></td>
        <td><%= clipSet.count %></td>
        <td><%= clipSet.map{ |c| c[:loc_count] }.sum %></td>
        <td><%= clipSet.map{ |c| c[:fn_count] }.sum %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'common_buttons', :form_obj => f %>
<% end %>
<!-- END: Content -->

        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- END: Layout -->
