<!-- BEGIN: Layout -->
<%= render :layout => 'outershell' do %>
  <div class="row">
    <div class="small-12 columns">
      <div class="workflow-panel">
        <div class="workflow-title clearfix">
          <div class="text left">Set Detectables</div>
        </div>
        <div class="workflow-content">

<!-- BEGIN: Content -->
<%= simple_form_for @mining, :url => wizard_path, :method => :put do |f| %>

<!-- BEGIN: Table -->
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Pretty Name</th>
      <th>Type</th>
      <th>Select</th>
    </tr>
  </thead>

  <tbody>
      <% @workflowObj.detectables.each do |detectable| %>
        <tr>
          <td><%= detectable.id %></td>
          <td><%= detectable.name %></td>
          <td><%= detectable.pretty_name %></td>
          <td><%= detectable.type %></td>
          <% isButChecked = @workflowObj.selectedDetectableIds.include?(detectable.id) %>
          <td><%= check_box_tag 'detectable_ids[]', detectable.id, checked = isButChecked %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<!-- END: Table -->

<%= render 'common_buttons', :form_obj => f %>
<% end %>
<!-- END: Content -->

        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- END: Layout -->
