<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Type</td>
      <td><%= @machine.type %></td>
    </tr>
    <tr>
      <td>State</td>
      <td><%= @machine.state %></td>
    </tr>
    <tr>
      <td>Cloud</td>
      <td><%= @machine.cloud %></td>
    </tr>
    <tr>
      <td>Details</td>
      <td><%= @machine.zdetails %></td>
    </tr>
    <tr>
      <td>Hostname</td>
      <td><%= @machine.hostname %></td>
    </tr>
    <tr>
      <td>Ip</td>
      <td><%= @machine.ip %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Back', machines_path, class: 'button' %>
