<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ztype</td>
      <td><%= @machine.ztype %></td>
    </tr>
    <tr>
      <td>Zstate</td>
      <td><%= @machine.zstate %></td>
    </tr>
    <tr>
      <td>Cloud</td>
      <td><%= @machine.cloud %></td>
    </tr>
    <tr>
      <td>Hostname</td>
      <td><%= @machine.hostname %></td>
    </tr>
    <tr>
      <td>Ip</td>
      <td><%= @machine.ip %></td>
    </tr>
    <tr>
      <td>Zdetails</td>
      <td><%= @machine.zdetails %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Back', machines_path, class: 'button' %>
