<table>
  <thead>
    <tr>
      <th>Version</th>
      <th>Name</th>
      <th># Annotations</th>
      <th># Detectables | Edit</th>
      <th>Edit | Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @chia_model.decorate.minorChildren.each do |chia_model| %>
      <tr>
        <td><%= chia_model.decorate.version %></td>
        <td><%= chia_model.name %></td>
        <td><%= chia_model.decorate.annotationCount %></td>
        <td>
          <%= chia_model.detectable_ids.count %> |
          <%= link_to 'Show', chia_model %>
        </td>
        <td>
          <%= link_to 'Edit', edit_chia_model_path(chia_model) %> |
          <%= link_to 'Destroy', chia_model, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
