<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Version</td>
      <td><%= @chia_model.major_id %>.<%= @chia_model.minor_id %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= @chia_model.name %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= @chia_model.description %></td>
    </tr>
    <tr>
      <td>Comment</td>
      <td><%= @chia_model.comment %></td>
    </tr>
  </tbody>
</table>
