<%= simple_form_for(@stream) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :base_url %>
    <%= f.input :stype, collection: @streamTypes, label: "Type" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
