<h3><%= @stream.name %></h3>


<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td><%= @stream.name %></td>
    </tr>
    <tr>
      <td>Base Url</td>
      <td><%= @stream.base_url %></td>
    </tr>
    <tr>
      <td>Capture Url</td>
      <td><%= @stream.capture_url %></td>
    </tr>
    <tr>
      <td>Machine</td>
      <td>TODO</td>
    </tr>
    <tr>
      <td>Type</td>
      <td><%= @stream.type %></td>
    </tr>
    <tr>
      <td>State</td>
      <td><%= @stream.state %></td>
    </tr>
    <tr>
      <td>Priority</td>
      <td><%= @stream.priority %></td>
    </tr>
    <tr>
      <td>Last 10 clips</td>
      <td>TODO</td>
    </tr>
  </tbody>
</table>

<%= link_to 'Back', streams_path, class: 'button' %>
