<%= simple_form_for(@detectable) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :pretty_name %>
    <%= f.input :description %>
    <%= f.input :ztype, collection: @detectableTypes, label: "Type" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
