<h3>Listing Detectables</h3>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Pretty name</th>
      <th>Description</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detectables.each do |detectable| %>
      <tr>
        <td><%= detectable.id %></td>
        <td><%= detectable.name %></td>
        <td><%= detectable.pretty_name %></td>
        <td><%= detectable.description %></td>
        <td><%= detectable.type %></td>
        <td><%= link_to 'Show', detectable %></td>
        <td><%= link_to 'Edit', edit_detectable_path(detectable) %></td>
        <td><%= link_to 'Destroy', detectable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detectable', new_detectable_path, class: 'button' %>
