<!-- BEGIN: Mine confusion_finder -->
<table>
  <thead>
    <tr>
      <th>Pri Detectable</th>
      <th>Pri Detectable Prob</th>
      <th>Pri Detectable Scales</th>
      <th>Sec Detectable</th>
      <th>Sec Detectable Prob</th>
      <th>Sec Detectable Scales</th>
      <th>Intersection Threshold</th>
      <th># Localizations</th>
    </tr>
  </thead>
  <tbody>
    <% @mining.md_confusion_finder.confusion_filters[:filters].each do |f| %>
      <tr>
        <td><%= "#{Kheer::Detectable.find(f[:pri_det_id]).pretty_name} [#{f[:pri_det_id]}]" %></td>
        <td><%= f[:selected_filters][:pri_probs] %></td>
        <td><%= f[:selected_filters][:pri_scales] %></td>
        <td><%= "#{Kheer::Detectable.find(f[:sec_det_id]).pretty_name} [#{f[:sec_det_id]}]" %></td>
        <td><%= f[:selected_filters][:sec_probs] %></td>
        <td><%= f[:selected_filters][:sec_scales] %></td>
        <td><%= f[:selected_filters][:int_thresh] %></td>
        <td><%= f[:number_of_localizations] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- END: Mine confusion_finder -->
