<!-- BEGIN: Mine details -->
<table>
  <tbody>
    <tr>
      <td>Id</td>
      <td><%= @mining.id %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= @mining.name %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= @mining.description %></td>
    </tr>
    <tr>
      <td>User</td>
      <td><%= @mining.user.email %></td>
    </tr>
    <tr>
      <td>State</td>
      <td><%= @mining.state %></td>
    </tr>
    <tr>
      <td>Type</td>
      <td><%= @mining.type %></td>
    </tr>
    <tr>
      <td>Localization chia model version</td>
      <td><%= @mining.decorate.chiaModelVersionLoc %></td>
    </tr>
    <tr>
      <td>Annotation chia model version</td>
      <td><%= @mining.decorate.chiaModelVersionAnno %></td>
    </tr>
  </tbody>
</table>
<!-- END: Mine details -->

<% if @mining.type.isSequenceViewer? %>
  <%= render 'mine_details_sequence_viewer' %>
<% elsif @mining.type.isConfusionFinder? %>
  <%= render 'mine_details_confusion_finder' %>
<% end %>
