<script type="text/javascript">
  window.miningId = '<%= "#{@miningId}" %>';
  window.setId = '<%= "#{@setId}" %>';
</script>

<!-- BEGIN: Video display -->
<div id="video-display-container">
  <div class="row">
    <div class="small-10 columns">
      <div class="row">
        <div class="small-12 columns">
          <div class="centered">

            <div id="canvases">
              <!-- Absolutely positioned canvases on top of each other -->
              <canvas id="videoFrameCanvas" width="1280" height="720"></canvas>
              <canvas id="heatmapCanvas" width="1280" height="720"></canvas>
              <canvas id="localizationCanvas" width="1280" height="720"></canvas>
              <canvas id="infoOverlayCanvas" width="1280" height="720"></canvas>
              <canvas id="annotationCanvas" width="1280" height="720"></canvas>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <%= render 'analysis/minings/annotations/video_controls' %>
        </div>
      </div>
    </div>
    <div class="small-2 columns">
      <%= render 'analysis/minings/annotations/annotation_list' %>
    </div>
  </div>
</div>
<!-- END: Video display -->


<!-- BEGIN: Filter tab navigation -->
<div class="row">
  <div class="small-12 columns">
    <div class="bordered">


<!-- BEGIN: Tab headers -->
<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#filterDataSection">Filter Data</a></li>
  <li class="tab-title"><a href="#filterFrameSection">Filter Frame</a></li>
  <li class="tab-title"><a href="#filterStatusSection">Status</a></li>
</ul>
<!-- END: Tab headers -->

<!-- BEGIN: Tab content -->
<div class="tabs-content">
  <div class="content active" id="filterDataSection">
    <%= render 'mine_details' %>
  </div>
  <div class="content" id="filterFrameSection">
    <%= render 'analysis/minings/annotations/filter_frame' %>
  </div>
  <div class="content" id="filterStatusSection">
    <%= render 'analysis/minings/annotations/filter_status' %>
  </div>
</div>
<!-- END: Tab content -->

    </div>
  </div>
</div>
<!-- END: Filter tab navigation -->
