<%= simple_form_for(@capture_evaluation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :capture_id, collection: @captures, label: "Captures" %>
    <%= f.input :gpu_machine_id, collection: @gpuMachines, label: "GPU Machine" %>

    <%= render '/kheer/common/chia_model_selection', radioTagPrefix: 'capEvaluation', chiaModelsHierarchy: @chiaModelsHierarchy, selectedMajorId: @selectedMajorId, selectedMinorId: @selectedMinorId, selectedMiniId: @selectedMiniId %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
