<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Capture</td>
      <td><%= @capture_evaluation.capture.comment %></td>
    </tr>
    <tr>
      <td>Chia model</td>
      <td><%= "#{@capture_evaluation.chia_model.name} [#{@capture_evaluation.chia_model.decorate.version}]" %></td>
    </tr>
    <tr>
      <td>Gpu machine</td>
      <td><%= @capture_evaluation.gpuMachine.hostname %></td>
    </tr>
    <tr>
      <td>State</td>
      <td><%= @capture_evaluation.state %></td>
    </tr>
    <tr>
      <td>Progress</td>
      <td><%= @capture_evaluation.decorate.progress %></td>
    </tr>
    <tr>
      <td># Evaluated Clips</td>
      <td><%= @capture_evaluation.decorate.evaluatedClipsNum %></td>
    </tr>
    <tr>
      <td># Total Clips</td>
      <td><%= @capture_evaluation.decorate.totalClipsNum %></td>
    </tr>
    <tr>
      <td># Failed Clips</td>
      <td><%= @capture_evaluation.decorate.failedClipsNum %></td>
    </tr>
  </tbody>
</table>

<% if @capture_evaluation.decorate.needToRerun? %>
  <%= link_to 'Evaluate Failed Clips', rerun_capture_evaluation_path, class: 'button' %>
<% end %>
<%= link_to 'Back', capture_evaluations_path, class: 'button' %>
