<!-- BEGIN: Right navigation -->
<ul class="right">

  <% if user_signed_in? %>

    <li class="has-dropdown">
      <%= render partial: 'layouts/analysis_drop_down' %>
    </li>
    <li class="has-dropdown">
      <%= render partial: 'layouts/kheer_drop_down' %>
    </li>
    <li class="has-dropdown">
      <%= render partial: 'layouts/video_drop_down' %>
    </li>
    <li class="has-dropdown">
      <%= render partial: 'layouts/setting_drop_down' %>
    </li>
    <li class="has-dropdown">
      <%= render partial: 'layouts/admin_drop_down' %>
    </li>

  <% else %>

    <li><%= link_to "Sign In", new_user_session_path %></li>

  <% end %>

</ul>
<!-- END: Right navigation -->
