<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Zigvu | Rasbari" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller_path.gsub('/','_') -%>_<%= action_name -%>">
    <%= render :layout => 'layouts/full_layout' do %>
      <%= yield %>
    <% end %>
    <div id="spinner-overlay"></div>
    <div id="spinner-popup"></div>
  </body>
</html>
